
<div class="main-search">
<form class="container-form" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
  <div>
    <label>Ingrese nombre de usuario</label>
    <input
      type="text"
      formControlName="username"
      placeholder="username"
      >
  </div>

  <button
    class="button"
    type="submit"
  >
    Buscar
  </button>

</form>

<h4 *ngIf="isFetching$ | async">Cargado...</h4>

<h3>{{ userName$ | async }}</h3>

<img [src]="avatar$ | async" width="100px">
  
<ul *ngFor="let repo of repos$ | async">
  <li>
    <a [routerLink]="['/repos', repo.name]">{{ repo.name }}</a>
  </li>
</ul>

</div>