button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
}

img {
  margin: 0px 5px;
}

label {
  width: 30%;
  display: inline-block;
}

.container-form {
  display: flex;
  align-items: center;
  align-content: flex-start;
}