<h4 *ngIf="isFetching$ | async">Cargando...</h4>

<ng-container *ngIf="repoFetched$ | async ">
  <h3>{{ currentRepo$.name }}</h3>
  <p>
    Tamaño: {{ currentRepo$.size }}
  </p>
  <p>Description: {{ currentRepo$.description }}</p>
  <p>Lenguaje: {{ currentRepo$.language }}</p>
  <p>Creado: {{ currentRepo$.createdAt }}</p>
  <p>
    Commits: {{ currentRepo$.commits }} <a [routerLink]="['/repos', currentRepo$.name, 'commits']">(más detalle)</a>
  </p>
  <p>Última actualización: {{ currentRepo$.updatedAt }}</p>
</ng-container>

<ng-container *ngIf="!isFetching && !repoFetched">
  <p>
    No pudo obtenerse la información desde Github. 
    Intente más tarde o busqué otro repositorio desde el home.
  </p>
</ng-container>
<button [routerLink]="['/']">Volver</button>