h1 {
  color: white;
  display: inline;
  padding: 0.2em 1em;
  
}

.top-bar{
  background-color: black;
  display: flex;
  margin: 0em 0em 1em;
  box-shadow: 0px 1px 2px 0px #808080c2;
}

.page-content {
  margin: 10px;
}