/* You can add global styles to this file, and also import other style files */
body {
  margin:0;
  padding:0;
  font-family: Montserrat, Calibri;
  text-align: center;
}

label {
  margin: 15px;
}

button {
  background-color: #2ebc4f;
  color: white;
  padding: 5px 10px;
  border: none;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 2px;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:active, a:visited {
  color: inherit;
}

.row {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.col-centered {
  text-align: center;
}

.col {
  text-align: left;
}


/* 
app-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */